@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "About Us"; }
<div class="About">
    <h2 class="AboutHeading">About Stocking Supply</h2>

    <p class="About">
        We are Stocking Supply, we have many different options for all your stocking needs.
        We sell all types of stockings from sport stockings to medical stockings and even some winter stockings
        to keep you warm throughout the cold months. Stocking Supply is a value oriented business, so you know
        you will get the best deal here at Stocking Supply.
    </p>
    <hr />

    <div class="AboutWrapper">
        <div class="hq">
            <h4 class="AboutHeading2">Company Headquarters-</h4>
            <ul class="hqInfo">
                <li>Telephone: <a href="tel: +1 123-555-7894">+1 123-555-7894</a></li>
                <li>Address: 1298 StockingWay Dr. Amherstburg, Ontario, Canada</li>
                <li>Postal Code: N9V 3X4</li>
            </ul>
        </div>
        <div class="employee">
            <h4 class="AboutHeading2">Our Leadership</h4>
            <ul class="AboutEmployee">
                <li>CEO | Jeff Stocking</li>
                <li>CFO | Mary Stocking</li>
                <li>CIO | Mark Stocking</li>
            </ul>
        </div>
    </div>

</div>