@model MvcStockings.Models.StockingTypeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stocking Supply</h1>
    <p>We carry all kinds of stockings. Click on the stocking below that you would like to take a look at.</p>
    <div id="examples">
        <!--Each link goes to the details page of that specific stocking type-->
        <a href="/Stockings/Details/9"><img src="/imgs/sport.jpg" alt="Sport Compression Stockings" /></a>
        <a href="/Stockings/Details/4"><img src="~/imgs/knee.jpg" alt="Knee High Stockings" /></a>
        <a href="/Stockings/Details/6"><img src="~/imgs/holiday.jpeg" alt="Holiday Stockings" /></a>
        <a href="/Stockings/Details/3"><img src="~/imgs/printed.jpeg" alt="Printed Pattern Stockings" /></a>
        <a href="/Stockings/Details/1"><img src="~/imgs/compression.jpg" alt="Compression Stockings" /></a>
        <a href="/Stockings/Details/7"><img src="~/imgs/scrunch.jpg" alt="Scrunch Stockings" /></a>
        <a href="/Stockings/Details/5"><img src="~/imgs/opaque.jpg" alt="Opaque Stockings" /></a>
        <a href="/Stockings/Details/10"><img src="~/imgs/winter.jpg" alt="Winter Stockings" /></a>
        <a href="/Stockings/Details/2"><img src="~/imgs/striped.jpeg" alt="Striped Stockings" /></a>
        <a href="/Stockings/Details/8"><img src="~/imgs/transparent.jpg" alt="Transparent Stockings" /></a>
    </div>
</div>
